#Skip folders
/my_blog/__pycache__/
.venv
/static
/snippets/__pycache__/
/snippets/migrations/__pycache__/


#Skip files
/my_blog/settings_private.py
*.pyc
my_blog/__pycache__/settings.cpython-34.pyc
